body {
    background-color: #1E90FF; /* Azul */
    color: #FFA500; /* Naranja */
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.btn {
    background-color: #FFA500;
    border: none;
    color: #1E90FF;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #FF8C00;
    color: #FFFFFF;
    cursor: pointer;
}