<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  	<link rel="stylesheet" href="/static/css/styles-exito.css">
    <title>Éxito!</title>
    
<body>
<h1></h1>
<div class="container">
	<div class="row">
		<div class="col text-center mt-5">
			<h1>Te has registrado en Recimúsic satisfactoriamente</h1>
		</div>
	</div>
	<div class="row mt-5">
		
		<div class="col text-center">
			<form action="{{ url_for('home') }}" method="get">
				<button type="submit" class="btn">Volver a la página principal</button>
			</form>
		</div>
	</div>
</div>

</html>
